.page  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 43%;
    margin-right: 43%;
    /* padding: 260px; */
    width: 10%;
    height: 5vh;
    gap: 0.3vw;
    margin-bottom: 95px;
    float: left;
}

.number{
    text-decoration: none;
    list-style: none;
    margin-top: 100px;
}



  .pageButton {

    display: flex;
    flex-direction: row;
    padding: 0.5em 5.5em;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 15px;
    color: #0075BE;
    background-color: #FFCC00;
    /* border: none; */
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    cursor: pointer;
    outline: none;
    /* margin-bottom: 1em; */
    /* margin-left: 180%; */
   }
   
   .pageButton:hover {
    background-color: #0075BE;
    box-shadow: 0px 15px 20px #0A285F;
    color: rgb(255, 255, 255);
    transform: translateY(-7px);
   }
   
   .pageButton:active {
    transform: translateY(-1px);
   }

