.page  {
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    float: left;
    padding-left: 670px; 
    margin-bottom: auto;
}

.number{
    text-decoration: none;
    list-style: none;
}



  .pageButton {
    padding: 0.5em 2.5em;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 15px;
    color: #0075BE;
    background-color: #FFCC00;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
   }
   
   .pageButton:hover {
    background-color: #0075BE;
    box-shadow: 0px 15px 20px #0A285F;
    color: rgb(255, 255, 255);
    transform: translateY(-7px);
   }
   
   .pageButton:active {
    transform: translateY(-1px);
   }

